<form [formGroup]="form">
  <div class='form-group'>
    <label for='customerName'>Name</label>
    <input formControlName="name" type='text' name='customerName' id='customerName' class='form-control' /> 
    <div class='alert alert-danger' *ngIf="name.touched && !name.valid">
      <div *ngIf='name.errors.required'>Name is required!</div>
      <div *ngIf='name.errors.minlength'>Name should be more than or equal to 3 characters!</div>
      <div *ngIf='name.errors.cannotStartWithNumber'>Name can not be started with number!</div>
    </div>
  </div>
  <div class='form-group'>
    <label for='customerName'>Email</label>
    <input formControlName="email" type='text' name='email' id='email' class='form-control' /> 
    <div class='alert alert-danger' *ngIf="email.touched && !email.valid">
      <div *ngIf='email.errors.required'>Email is required!</div>
      <div *ngIf='email.errors.email'>Invalid email format!</div>
    </div>
  </div>
  <div class='form-group'>
    <label for='customerAddress'>Address</label>
    <textarea formControlName="address" name='customerAddress' id='customerAddress' class='form-control'></textarea> 
  </div>
  <button type="submit" class='btn btn-primary'>Submit</button>
</form>
